.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  span {
    vertical-align: middle;
  }
}

.panel {
    cursor: default;
    width: 165px;
    font-size: 1em;

    .panel-header-row {
        .pull-left {
            padding-left: 0.5em;
        }
        .btn-link {
            color: white;
        }
    }

    .panel-row {
        .pull-left {
            padding-left: 0.8em;
        }
        .pull-right {
            padding-right: 0.5em;
        }
    }
}

.car-list-view-header {
    padding-bottom: 10px;
}

.detail-field-name {
    width: 7em;
    padding-right: 5em;
    float: left;
    font-weight: bold;
}

a.thumbnail {
    text-decoration: none;
}

.footer {
    border-top: 1px gray solid;
    padding: 10px;
}

.car-list-item-add-compare {
    z-index: 100;
}
